<div class="loading"></div>

<div class="wrapper">
	<a
		onclick="iqwerty.history.pushState(''); iqwerty.freepee.MainMap.closePanel();"
		class="right link close-button">
			&#x2716;
	</a>

	<div
		id="map-view-small"
		class="clear card"
		data-iq-bind-to="data-marker:panel.display.add">
	</div>

	<div id="panel-view">
		<div data-iq-bind-to="data-show:panel.display.detail">
			<div class="detail" data-iq-bind>
				<div class="card">
					<div class="card--title">Address</div>
					<div class="card--description">
						{bathroom.approx_address}
					</div>
				</div>
				<div class="card">
					<div class="card--title">Rating</div>
					<div class="card--description">
						<span
							class="vote vote--upvote"
							data-iq-bind-to="data-selected:bathroom.myRating"
							onclick="iqwerty.freepee.Bathroom.upvote()">
							{bathroom.upvotes}
						</span>
						<span
							class="vote vote--downvote"
							data-iq-bind-to="data-selected:bathroom.myRating"
							onclick="iqwerty.freepee.Bathroom.downvote()">
							{bathroom.downvotes}
						</span>
					</div>
				</div>
				<div class="card">
					<div class="card--title">Description</div>
					<!-- The description cannot start on a new line because it's preformatted -->
					<div
						class="card--description pre can-edit"
						onclick="iqwerty.freepee.Bathroom.editBathroom(this)">{bathroom.description}</div>
				</div>
			</div>
			<button
				class="button action negative"
				onclick="iqwerty.freepee.Bathroom.remove()"
				data-iq-bind-to="disabled:panel.add.submitDisabled;data-show:panel.display.delete">
				Delete
			</button>
		</div>
		<div data-iq-bind-to="data-show:panel.display.add">
			<div class="detail" data-iq-bind>
				<div class="card">
					<div class="card--title">Address</div>
					<div class="card--description">
						{panel.add.approx_address}
					</div>
				</div>
				<div class="card">
					<div class="card--title">Description</div>
					<div class="card--description">
						<div contenteditable autofocus>Pee for free here!</div>
					</div>
				</div>
			</div>
			<button
				class="button action"
				onclick="iqwerty.freepee.Bathroom.create()"
				data-iq-bind-to="disabled:panel.add.submitDisabled">
				Create
			</button>
		</div>
	</div>
</div>